body {
  background-color: lightgray;
}

h1 {
  color: navy;
  margin-left: 20px;
  font-family:Helvetica;
  font-size:40px;
}

h2 {
	color: green;
	margin-left:20px;
	font-family:Helvetica;
	font-size;20px;
}

p {
	color: black;
	font-family: Arial;
	margin-left: 20px;
	font-size; 10px;
}